@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./theme.css');

:root {
  --background: #EDF8FA;
}

html, body {
  height: 100dvh;
  max-height: 100dvh;
  background: var(--background);
}
